# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false

[*.{tsx, ts, js, jsx, html, json, css, scss, md}]
indent_style = space
indent_size = 2