@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base100: #232936;
  --base200: #191d27;
  --baseContent: #ffffff;
  --primary50: #dbf2ff;
  --primary100: #FFB3D8;
  --primary200: #F4669E;
  --secondary100: #CBB6FF;
  --secondary200: #712F93;
  --accent100: #ffcb77;
  --accent200: #ffc05c;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background: var(--base100);
    color: var(--baseContent);
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}